<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome | Create wishes for any time or occasion</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Adsense header code below -->
    <!-- Adsense header code above -->
</head>
<body>
    <main>
        <div class="main-box">

            <!-- Adsense code below -->
            <!-- Adsense code above -->
            
            <div class="head-img">
                <img src="/img.svg" alt="headimage">
            </div>
            <h1>Create wishes for <span class="txt-type" data-wait="2000" data-words='["Happy Birthday", "Happy Anniversary", "Occasions", "Any Festival", "Fun"]'></span></h1>
            <div class="main-cont">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <p>{{error}}</p>
                    <input type="text" name="name" id="name" placeholder="Enter your name *" required>
                    <input type="text" name="fest" id="fest" placeholder="Wishing for *" required>
                    <input type="text" name="message" id="message" placeholder="Enter your message *" required>
                    <label class="img-label" for="file">Select image (required)</label>
                    <input type="file" name="file" id="file" required>
                    

                    <!-- Adsense code below -->
                    <!-- Adsense code above -->


                    <p>Any image related to your selected festival</p>
                    <input type="submit" value="Create">
                </form>
            </div>
            <p class="footer">Copyrights &copy; 2019, All rights reserved.</p>

            <!-- Adsense code below -->
            <!-- Adsense code above -->

        </div>
    </main>
<script src="app.js"></script>
</body>
</html>